In [21]:
                                          #NAME PARSER#
from nameparser import HumanName   #Import Libraries
import pandas as pd
df = pd.read_excel (r'C:\Users\merit\Lavanya_Exercise1.xlsx',sheet_name="Name Parsing") #Read Excel
df_list=df.iloc[:,[0]]  #EXTRACT NAME COLUMN
df_list

                             Name
0               Fares Al-Hejailan
1                   David Almroth
2                      Aled Batey
3                     Simone Bono
4               Christopher Davis
5               Thijs P. Flokstra
6                   Daniel French
7                 Iñaki Gabilondo
8                    Andrew Hagan
9                Dr. Mario Hüther
10                     Kyle Lakin
11                       Max Lang
12           Dr. Frank Laudenklos
13                 Michael Levitt
14             Francesco Lombardo
15                  Mandeep Lotay
16              Haris Meyer Hanif
17             Alexander Mitchell
18                      Thomas Ng
19                Jerome Ranawake
20                    Brian Rance
21                    Denise Ryan
22                Cristina Esteve
23                   Koen Vanlaer
24             Dr. Dennis Chinnow
25  Vanessa Steiner (née Lawrenz)
26                      Mehdi Ali
27                   Michael Blau
28                  Tabasam Faqir
29                   Maxim Frolov
30                Andrea Giaretta
31                   Kate Hatcher
32                  Tumise Jegede
33                    Peter Mason
34                 Alberto Nurzia
35                 Walid J. Salib
36                Claudia Cavalli
37                  Julia Horbach
38                  Aino Makisalo
39                Skyler Splinter
40                   Yara Bevaart

In [22]:
        #SPLITTING OF DATA INTO TITLE,FIRSTNAME,MIDDLENAME,LASTNAME
df_list["Title"]=df_list["Name"].apply(lambda x: HumanName(x).title)
df_list["First_name"] = df_list["Name"].apply(lambda x: HumanName(x).first)
df_list["Middle_name"] = df_list["Name"].apply(lambda x: HumanName(x).middle)
df_list["Last_name"] = df_list["Name"].apply(lambda x: HumanName(x).last)

C:\Users\merit\AppData\Local\Temp/ipykernel_8768/428171465.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_list["Title"]=df_list["Name"].apply(lambda x: HumanName(x).title)
C:\Users\merit\AppData\Local\Temp/ipykernel_8768/428171465.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_list["First_name"] = df_list["Name"].apply(lambda x: HumanName(x).first)
C:\Users\merit\AppData\Local\Temp/ipykernel_8768/428171465.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_list["Middle_name"] = df_list["Name"].apply(lambda x: HumanName(x).middle)

In [23]:
df_list

                             Name Title   First_name Middle_name    Last_name
0               Fares Al-Hejailan              Fares              Al-Hejailan
1                   David Almroth              David                  Almroth
2                      Aled Batey               Aled                    Batey
3                     Simone Bono             Simone                     Bono
4               Christopher Davis        Christopher                    Davis
5               Thijs P. Flokstra              Thijs          P.     Flokstra
6                   Daniel French             Daniel                   French
7                 Iñaki Gabilondo              Iñaki                Gabilondo
8                    Andrew Hagan             Andrew                    Hagan
9                Dr. Mario Hüther   Dr.        Mario                   Hüther
10                     Kyle Lakin               Kyle                    Lakin
11                       Max Lang                Max                     Lang
12           Dr. Frank Laudenklos   Dr.        Frank               Laudenklos
13                 Michael Levitt            Michael                   Levitt
14             Francesco Lombardo          Francesco                 Lombardo
15                  Mandeep Lotay            Mandeep                    Lotay
16              Haris Meyer Hanif              Haris       Meyer        Hanif
17             Alexander Mitchell          Alexander                 Mitchell
18                      Thomas Ng             Thomas                       Ng
19                Jerome Ranawake             Jerome                 Ranawake
20                    Brian Rance              Brian                    Rance
21                    Denise Ryan             Denise                     Ryan
22                Cristina Esteve           Cristina                   Esteve
23                   Koen Vanlaer               Koen                  Vanlaer
24             Dr. Dennis Chinnow   Dr.       Dennis                  Chinnow
25  Vanessa Steiner (née Lawrenz)            Vanessa                  Steiner
26                      Mehdi Ali              Mehdi                      Ali
27                   Michael Blau            Michael                     Blau
28                  Tabasam Faqir            Tabasam                    Faqir
29                   Maxim Frolov              Maxim                   Frolov
30                Andrea Giaretta             Andrea                 Giaretta
31                   Kate Hatcher               Kate                  Hatcher
32                  Tumise Jegede             Tumise                   Jegede
33                    Peter Mason              Peter                    Mason
34                 Alberto Nurzia            Alberto                   Nurzia
35                 Walid J. Salib              Walid          J.        Salib
36                Claudia Cavalli            Claudia                  Cavalli
37                  Julia Horbach              Julia                  Horbach
38                  Aino Makisalo               Aino                 Makisalo
39                Skyler Splinter             Skyler                 Splinter
40                   Yara Bevaart               Yara                  Bevaart

In [24]:
#--------------------------------------CONVERTING DATA FRAME TO EXCEL-----------------------------------------#
writer = pd.ExcelWriter(r'NAMEPARSER.xlsx', engine='xlsxwriter')
df_list.to_excel(writer,index=False)
writer.save()
writer.close()

c:\python39\lib\site-packages\xlsxwriter\workbook.py:338: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [33]:
df_list.to_csv(os.getcwd()+'/NAMES_PARSER.csv',index=False) #Converting to CSV

In [29]:
                                   #NAME PARSER USING REGEX#
import pandas as pd  #Import Libraries
import numpy as np
import os
df = pd.read_excel (r'C:\Users\merit\Lavanya_Exercise1.xlsx',sheet_name="Name Parsing") #Read Excel
df_list=df.iloc[:,[0]]  #EXTRACT NAME COLUMN
df_list
df_list['Title']=df_list['Name'].str.extract('([Dr|Miss|Mr|Mrs|Ms]*\.) ')
df_list['First_name']=df_list['Name'].str.extract('(.\s*[^Dr.]\w*)')
df_list['Middle_name']=df_list['Name'].str.extract('\s*([A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z]\.)')
df_list['Last_name']=df_list['Name'].str.extract('\s*(\S*)$')
df_list

C:\Users\merit\AppData\Local\Temp/ipykernel_8768/1453245375.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_list['Title']=df_list['Name'].str.extract('([Dr|Miss|Mr|Mrs|Ms]*\.) ')
C:\Users\merit\AppData\Local\Temp/ipykernel_8768/1453245375.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_list['First_name']=df_list['Name'].str.extract('(.\s*[^Dr.]\w*)')
C:\Users\merit\AppData\Local\Temp/ipykernel_8768/1453245375.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_list['Middle_name']=df_list['Name'].str.extract('\s*([A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z]\.)')

                             Name Title   First_name Middle_name    Last_name
0               Fares Al-Hejailan   NaN        Fares         NaN  Al-Hejailan
1                   David Almroth   NaN        David         NaN      Almroth
2                      Aled Batey   NaN         Aled         NaN        Batey
3                     Simone Bono   NaN       Simone         NaN         Bono
4               Christopher Davis   NaN  Christopher         NaN        Davis
5               Thijs P. Flokstra     .        Thijs          P.     Flokstra
6                   Daniel French   NaN       Daniel         NaN       French
7                 Iñaki Gabilondo   NaN        Iñaki         NaN    Gabilondo
8                    Andrew Hagan   NaN       Andrew         NaN        Hagan
9                Dr. Mario Hüther   Dr.      . Mario         NaN       Hüther
10                     Kyle Lakin   NaN         Kyle         NaN        Lakin
11                       Max Lang   NaN          Max         NaN         Lang
12           Dr. Frank Laudenklos   Dr.      . Frank         NaN   Laudenklos
13                 Michael Levitt   NaN      Michael         NaN       Levitt
14             Francesco Lombardo   NaN     rancesco         NaN     Lombardo
15                  Mandeep Lotay   NaN      Mandeep         NaN        Lotay
16              Haris Meyer Hanif   NaN        Haris         NaN        Hanif
17             Alexander Mitchell   NaN    Alexander         NaN     Mitchell
18                      Thomas Ng   NaN       Thomas         NaN           Ng
19                Jerome Ranawake   NaN       Jerome         NaN     Ranawake
20                    Brian Rance   NaN         rian         NaN        Rance
21                    Denise Ryan   NaN       Denise         NaN         Ryan
22                Cristina Esteve   NaN      ristina         NaN       Esteve
23                   Koen Vanlaer   NaN         Koen         NaN      Vanlaer
24             Dr. Dennis Chinnow   Dr.     . Dennis         NaN      Chinnow
25  Vanessa Steiner (née Lawrenz)   NaN      Vanessa         NaN     Lawrenz)
26                      Mehdi Ali   NaN        Mehdi         NaN          Ali
27                   Michael Blau   NaN      Michael         NaN         Blau
28                  Tabasam Faqir   NaN      Tabasam         NaN        Faqir
29                   Maxim Frolov   NaN        Maxim         NaN       Frolov
30                Andrea Giaretta   NaN       Andrea         NaN     Giaretta
31                   Kate Hatcher   NaN         Kate         NaN      Hatcher
32                  Tumise Jegede   NaN       Tumise         NaN       Jegede
33                    Peter Mason   NaN        Peter         NaN        Mason
34                 Alberto Nurzia   NaN      Alberto         NaN       Nurzia
35                 Walid J. Salib     .        Walid          J.        Salib
36                Claudia Cavalli   NaN      Claudia         NaN      Cavalli
37                  Julia Horbach   NaN        Julia         NaN      Horbach
38                  Aino Makisalo   NaN         Aino         NaN     Makisalo
39                Skyler Splinter   NaN       Skyler         NaN     Splinter
40                   Yara Bevaart   NaN         Yara         NaN      Bevaart

In [30]:
#--------------------------------------CONVERTING DATA FRAME TO EXCEL-----------------------------------------#
writer = pd.ExcelWriter(r'NAMEPARSER.xlsx', engine='xlsxwriter')
df_list.to_excel(writer,index=False)
writer.save()
writer.close()

c:\python39\lib\site-packages\xlsxwriter\workbook.py:338: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [32]:
df_list.to_csv(os.getcwd()+'/NAME_PARSER.csv',index=False) #Converting to CSV